<div class="container">
  <div class="row">
    <div class="col-xs-12">
     <app-cockpit 
     (svCreated)="onCreatedServer($event)"
     (bpCreated)="onCreatedBlueprint($event)"
     ></app-cockpit>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Make changes</button>
      <button class="btn btn-danger" (click)="onDestroyed()">Destroy</button>
        <app-server-component 
        *ngFor="let serverElement of serverElements"
        [ElementInfo] = "serverElement"
        [name] = "serverElement.name">
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-component>
    </div>
  </div>
</div>
